{% extends "cityhopper/base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <img src="/static/cityhopper/logo.jpg" alt="logo">

  <meta charset="utf-8">

</head>
<body>

<div class="jumbotron text-center">
  <h1>Why Leap, when you can hop?</h1>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Introducing you to our brand new bus service!</h3>
      <p>Tired of the same old same old late bus service, poor customer care, and impersonal commuting with the old, out of date bus services in Ireland?
Well, fear no more! Introducing, CITY HOPPER</p>

    </div>
    <div class="col-sm-4">
      <h3>Designed by commuters, for commuters</h3>
      <p>CITY HOPPER was designed by a passionate team of developers who understand the hardship when it comes to commuting on busses,
        you want to spend as little time as possible on a bus, so you can enjoy the more important things in life. </p>

    </div>
    <div class="col-sm-4">
      <h3>Cross platform login for drivers and commuters</h3>
      <p>9/10 bus drivers said CITY HOPPER is the best bus service to work for, because you dont need to do all
        the paper work when it comes to altering the schedule,  and a load of other stupid sh**.</p>

    </div>
  </div>
</div>

</body>
</html>
{% endblock content %}
