{% extends "cityhopper/base.html" %}
{% block content %}
<div class="content-section">
    <table class="table table-striped">
      <thead class='thead-dark'>
        <tr>
          <th scope="col">Students</th>
        </tr>
      </thead>
      </table>
      <p>Here at CityHopper we understand that students are often on a lower income! Sign up as a student today to see what discounts are available to you! </p>
</div>

<div class="content-section">
    <table class="table table-striped">
      <thead class='thead-dark'>
        <tr>
          <th scope="col">Adults</th>
        </tr>
      </thead>
      </table>
      <p>Here at CityHopper we understand that life can be expensive! Sign up today to see what discounts are available to you! </p>
</div>

<div class="content-section">
    <table class="table table-striped">
      <thead class='thead-dark'>
        <tr>
          <th scope="col">Retired</th>
        </tr>
      </thead>
      </table>
      <p>Here at CityHopper we understand that retirees are often on a lower income! Sign up today to see what discounts are available to you! </p>
</div>

<div class="content-section">
    <table class="table table-striped">
      <thead class='thead-dark'>
        <tr>
          <th scope="col">Children</th>
        </tr>
      </thead>
      </table>
      <p>Here at CityHopper we understand that you spend enough money on your kids! Sign your child up as student today to see what discounts are available ! </p>
</div>


{% endblock content %}
