{% extends "cityhopper/base.html" %}
{% block content %}

  <h1>Frequently Asked Questions </h1>
<div class="content-section">
  <div class="row">
        <div class="col-12">

          <h3> Can i book a ticket online ?</h3>
            <p> Tickets for our intercity services can be booked online, and are also available for purchase from your driver.Tickets booked online guarantee a seat on the service you have booked for. Your online ticket can be used to board another service on the same calendar day, provided there is room on that coach. The date and time of a pre-booked online ticket can be amended using the "Manage Booking" section of the website.
            Tickets for the Limerick City (307 & 308) services and Portarlington Connector can be purchased from your driver. </p>
        </div>
      </div>
  </div>

  <div class="content-section">
    <div class="row">
          <div class="col-12">
            <h2>Amazon V Google Bidding War</h2>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum!</p>
          </div>
        </div>
    </div>

{% endblock content %}
